[Unit]
Description=My Node.js Server
After=network.target

[Service]
ExecStart=sudo npm start
WorkingDirectory=/home/ubuntu/simple-server
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
